* { 
  padding:0;
  margin:0;
}
body {
  background-color: #ffff;
}
.header {
  background-color: #008080;
  display: block;
  padding-top: 0.5vh;
  position: fixed;
  top: 0;
  width: 100%
}

.header .logo {
  color: #fff;
  margin: 1vh 10vw;
  font-size: 2.5vw;
  float: left;
  border-bottom: 0.7vw solid #fff;
  border-radius: 1.5vw;
}
.header .logo h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2vw;
}
.header .menu {
  float: right;
  padding: 2vw;
  padding-right: 7vw;
}
.header .menu a {
  color: #fff;
  text-decoration: none;
  font-size: 1vw;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0.5vw;
  border-top: 0.3vw solid #fff;
  border-radius: 0.8vw;
}
.header .menu a:hover {
  color: #008080;
  background-color: #fff;
  zoom: 1;
  border-radius: 0.5rem;
  border-top: 0.3vw solid #008080;
}     