{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Career Detail</title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/4100/4100643.png">
    <link rel="stylesheet" href="{% static 'css/style_career_detail.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300&family=Cairo:wght@300&family=El+Messiri:wght@500&family=Scheherazade+New&family=Tajawal&display=swap" rel="stylesheet">
</head>
<body>
    <div class="section1">
        <div class="row">
            <h3>مساعد استشاري</h3>
            <small>مصراته، ليبيا</small>
            <hr class="hr1">
            <hr class="hr2">
            <hr class="hr3">    
        </div>
        <div class="column1">
            <h3>تعبئة النموذج</h3>
            <form method="post" action=".">
                {% csrf_token %}
                <ul class="contactList">
                    <label for="fname">First Name</label>
                    <li id="fname" class="contact" style="list-style-type:none;">{{ form.fname }}</li>
                    <label for="lname">Last Name</label>
                    <li id="lname" class="contact" style="list-style-type:none;">{{ form.lname }}</li>
                    <label for="age">Age</label>
                    <li id="lname" class="contact" style="list-style-type:none;">{{ form.age }}</li>
                    <label for="email">E-mail</label>
                    <li id="email" class="contact" style="list-style-type:none;">{{ form.email }}</li>
                    <label for="phone">Phone Number</label>
                    <li id="phone" class="contact" style="list-style-type:none;">{{ form.phone }}</li>
                    <label for="notes">Notes</label>
                    <li id="content" class="contact" style="list-style-type:none;">{{ form.content }}</li>
                </ul>
                
                <input type="submit" value="إرسال">
    
            </form>
        </div>
        <div class="column2">
            <h3>الوصف</h3>
            <p>تسعى الشركة إلى تكوين فريق متميز، لهذا نبحث عن  أعضاء يتمتعون بالحماس وحب العمل الاستشاري وأن تكون عندهم إمكانية للتعلم المستمر والدخول في مشاريع مختلفة وقدرات جيدة بشكل عام. المهام المذكورة أدناه لا يشترط إنجازها من أول يوم، ولكن المهم هو أن يكون الشخص قادراً على التعلم بسرعة من الاستشاريين الذين يعمل معهم.</p>
            <h3>المهام</h3>
            <ul>
                <li>فهم المشاريع والقضايا المعروضة وتحليلها، وفهم احتياجات الجهات الطالبة للخدمة الاستشارية.</li>
                <li>المساعدة في إعداد المقترحات والتصورات والخطط في المجالات المختلفة التي يتم تقديم الاستشارة فيها. (المجالات المتخصصة ستحال إلى متخصصين، ولكن مطلوب من أعضاء الفريق المعرفة بالمنهجية الشاملة للتطوير والتركيز على الجوانب الرئيسية والتي تتعلق بنموذج العمل التجاري والاستراتيجية والهيكلة وشؤون الأفراد وتطوير الإمكانات البشرية والعمليات والجودة).</li>
                <li> الاهتمام بالعلاقات مع العملاء وفهم متطلباتهم والتواصل المستمر معهم وتنسيق الاجتماعات واللقاءات وورش العمل وإعداد التقارير المتعلقة بذلك.</li>
                <li> متابعة المهام في المشاريع الاستشارية وإعداد التقارير بالخصوص.</li>
                <li>جمع البيانات والمعلومات بما يتعلق بالمهام والمشاريع الاستشارية وتبويبها</li>
            </ul>
            <h3>المؤهلات</h3>
            <p>نحن ننظر للمؤهل الأكاديمي بشيء من المرونة والسعة، ونعتقد أن العمل الاستشاري يتطلب مهارات واسعة وليس الانغلاق في تخصص واحد. ولهذا فإن الكثير من الخبرات يمكن اكتسابها أثناء العمل ومن خلال الممارسة والاطلاع المستمر.<br>يمكن النظر في طيف واسع من المؤهلات، وربما تكون بعض المؤهلات أقرب مثل: الإدارة، التمويل والاستثمار، التسويق، الاقتصاد، المحاسبة وغيرها من تخصصات كلية الاقتصاد والعلوم السياسية، كذلك فإن تخصص الهندسة الصناعية مناسب جداً، وخاصة أنها تمزج بين الهندسة والإدارة والنظم الإدارية، كذلك تخصصات من مثل علم النفس، علم الاجتماع أو القانون. ويمكن النظر في مؤهلات أخرى إذا كان الشخص يرغب في التعلم المستمر وتكريس الوقت والجهد لهذا العمل.
                لا نمانع في قبول طلبة الجامعة إذا كانوا يرغبون في مثل هذا العمل، وعندهم الدافع للدخول لهذه التجربة.<br>من متطلبات العمل:<br>الاطلاع المستمر على المعرفة والخبرة الإنسانية المتطورة والمتجددة باستمرار في مجال الإدارة والبناء المؤسسي، والتفكير باستمرار في استخدام آخر ما وصل إليه البشر في بناء الفرق والمؤسسات والنظم الإدارية، مع القدرة دائماً على تكييف هذه المعرفة والخبرة حسب الواقع الحالي.<br>أيضاً من المسلم به أن يكون الشخص يملك مهارات جيدة في اللغة العربية وكذلك اللغة الإنجليزية، بالإضافة بالطبع إلى مهارات الحاسوب، وهذا أمر أصبح مطلوباً بشكل كبير في سوق العمل الآن، وأصبح من المهارات الأساسية.<br>المهم هو استعداد الشخص لتطوير قدراته بشكل مستمر، ورغبته في العمل مع الفريق، وفهمه أن طبيعة العمل تعتمد على البحث والاطلاع ووضع المقترحات والخطط وكذلك إدارة العلاقات والاتصالات.</p>
        </div>
    </div>
</body>
</html>