{% extends "base.html" %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>تفكير للاستشارات والتدريب</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300&family=Cairo:wght@300&family=El+Messiri:wght@500&family=Scheherazade+New&display=swap" rel="stylesheet">
    
<body>
            <div class="section1">
                <div class="topnav">
                    <div class="logo">
                        <h3><a href="{% url 'home' %}">TAFKEER</a></h3>
                    </div>
                    <div class="menu">
                        <a href="{% url 'services' %}">ماذا نعمل؟</a>
                        <a href="{% url 'career' %}">انضم إلينا</a>
                        <a href="{% url 'about' %}">من نحن؟</a>
                        <a href="{% url 'contact' %}">تواصل معنا</a>
                    </div>
                </div>                
                <div class="column1">
                    <h2>تفكيـر للاستشارات والتدريب</h2>
                    <p>شركة استشارية ناشئة بطموح كبير.
                        نعمل من ليبيا.
                        نركز الآن في بدايتنا على المجال الوطني،
                        مع الانفتاح على الفرص والأعمال والشراكات في الإقليم والعالم.
                        ندرك الحاجة الملحة في ليبيا للبناء المؤسسي
                        سواء في مؤسسات القطاع الخاص أو القطاع الحكومي أو المجتمع المدني
                    </p>                  
                </div>
            </div>



            
            <div class="section3">
                <div class="row1">
                    <h4>مـاذا نـعـمـل؟</h4>
                    <p>تسعى تفكير للاستشارات والتدريب لتقديم خدمات استشارية متميزة للشركات الخاصة والجهات العامة والمدراء والقياديين، وكذلك تقديم برامج تدريبية ذات قيمة عالية مفيدة في البيئة المحلية. نرى أن هناك حاجة ماسة عندنا للتطوير المؤسسي، وهناك إشكاليات حقيقية وفي نفس الوقت هذه الإشكاليات هي فرص كبيرة للتطوير والتغيير. نحاول الاستفادة من أحسن المعارف والخبرات الإنسانية في مجال الإدارة والبناء المؤسسي، وتقديم اجتهاداتنا وإضافتنا الخاصة المميزة بما يخدم البيئة المحلية.</p>
                    <hr class="hr1">
                    <hr class="hr2">
                    <hr class="hr3">
                </div>
                <div class="columns">
                    <div class="column1">
                        <div class="block1">
                            <hr>
                            <h1>خدمات <span>تفكير للاستشارات والتدريب</span></h1>
                            <P>دائماً ما نسعى لإرضاء شركاء <br>النجاح معنا</P>
                        </div>
                        <div class="block2">
                            <img src="https://blog.bonus.ly/hubfs/employee-experience-featured-image.png" alt="">
                            <h2>تطوير القدرات البشرية</h2>
                            <a href="#">معرفة المزيد</a>
                        </div>
                    </div>
                    <div class="column2">
                        <div class="block1">
                            <img src="https://www.betterteam.com/images/Business-Development-Consultant-Job-Description.jpeg?crop=2:1,smart&width=1200&dpr=2" alt="">
                            <h2>خدمات استشارية</h2>
                            <a href="#">معرفة المزيد</a>
            
                        </div>
                        <div class="block2">
                            <img src="https://enterprisersproject.com/sites/default/files/images/cio_digital_transformation_resource.jpg" alt="">
                            <h2>التحول الرقمي</h2>
                            <a href="#">معرفة المزيد</a>
                        </div>
                    </div>
                </div>
            </div>
            



            <div class="section2">
                <div class="column1">
                    <img src="https://cdn3d.iconscout.com/3d/premium/thumb/man-with-laptop-showing-ok-gesture-4927667-4122903.png" alt="">
                </div>
                <div class="column2">
                    <div class="grid1">
                        <h1>Slice One</h1>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                    <div class="grid2">
                        <h1>Slice Two</h1>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                    <div class="grid3">
                      <h1>Slice Three</h1>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                    
                </div>
            </div>





            <div class="section5">
                <div class="column1">
                    <h4>Lorem Ipsum is simply</h4>
                    <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
                    <div class="h1-1">
                        <h1>Hello</h1>
                    </div>
                    <div class="h1-2">
                        <h1>Hello</h1>
                    </div>
                </div>
                <div class="column2">
                    <img src="https://pbs.twimg.com/media/FU5_yKJXEAASu3H?format=png&name=small" alt="">
                </div>
            </div>




            <div class="section4">
                <div class="row1">
                    <h3>قيمنا السامية</h3>
                    <hr class="hr1">
                    <hr class="hr2">
                    <hr class="hr3">                </div>
                <div class="row2">
                    <div class="grid1">
                        <img src="https://cdn-icons-png.flaticon.com/512/1534/1534952.png" alt="">
                        <h1>grid1</h1>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                    </div>
                    <div class="grid2">
                        <img src="https://cdn-icons-png.flaticon.com/128/4729/4729221.png" alt="">
                        <h1>grid2</h1>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                    </div>
                    <div class="grid3">
                        <img src="https://cdn-icons-png.flaticon.com/512/2058/2058768.png" alt="">
                        <h1>grid3</h1>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                    </div>
                </div>              
            </div>



            <div class="section6">
                <div class="block">
                    <div class="column1">
                        <form method="post" action=".">
                            {% csrf_token %}
                            <ul class="contactList">
                                <li id="name" class="contact" style="list-style-type:none;">{{ form.name }}</li>
                                <li id="email" class="contact" style="list-style-type:none;">{{ form.email }}</li>
                                <li id="content" class="contact" style="list-style-type:none;">{{ form.content }}</li>
                            </ul>
                            <input type="submit" value="Submit">
                
                        </form>
                    </div>
                    <div class="column2">
                        <h3>إذا كان لديك أي استفسار لا تتردد في مراسلتنا أو الاتصال بنا</h3>
                        <ul>
                            <li>قراره، مصراته، ليبيا                    </li>
                            <li>916305392 (218+)                    </li>
                            <li>hello@tafkeer.ly                    </li>
                            <li>ساعات العمل ( السبت - الخميس، 9:00ص - 8:00م )</li>
                        </ul>
                    </div>
                </div>
            </div>
            

            {% include 'design/footer.html' %}
            
</body>
</html>
{% endblock content %}










